* {
    font-family: "Roboto";
}

body {
    margin: 0;
}

.section-one,
.footer {
    background-color: #1F2937;
    padding: 20px 200px;
}

.header,
.subsection {
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    margin-left: auto;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 10px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header-one {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

.subsection {
    align-items: flex-end;
}

.main {
    height: 200px;
    width: auto;
    flex-shrink: 0;
    margin-left: auto;
    padding-left: 30px;
}

button {
    color: white;
    background-color: #3882F6;
}

.section-two,
.section-three,
.section-four {
    padding: 20px 200px;
}

.header-two {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937
}